<h2>New Post</h2>
<form action="/new" method = "POST" enctype="multipart/form-data">
    <label>Select Image</label>
    <input type="file" name="image">
    <label>Category</label>
    <input type="text" name="category">
    <a href="/">Cancel</a>
    <button type="submit">Create</button>
</form>